In [1]:
#Assignment 3
#Gabe Maturo
#IS678 Prof. Casas
#4/23/23

'''
The machine learning algorithm that I have chosen to use for this project is the classification
algorithm from Professor Casas' Learning 10 Malware Detection Lecture. This algorithm first splits the data
into a testing set and a training set. It then compares the values of 2 columns to determine the third column.
In this case, we are trying to determine if a region has substantial UFO appearances. Based on the assignment
instructions, we are basing this determination off a region's population and income. So, the two predictors 
will be the population column and the income column. The value to be predicted is the ufo2010 column, or
whether that region has substantial ufo appearances. This algorithm calculates each value's distance from 
the mean. This algorithm is a function that takes in the population and income of a region and it outputs 
whether that region has or does not have substantial UFO appearances.

'''

"\nThe machine learning algorithm that I have chosen to use for this project is the classification\nalgorithm from Professor Casas' Learning 10 Malware Detection Lecture. This algorithm first splits the data\ninto a testing set and a training set. It then compares the values of 2 columns to determine the third column.\nIn this case, we are trying to determine if a region has substantial UFO appearances. Based on the assignment\ninstructions, we are basing this determination off a region's population and income. So, the two predictors \nwill be the population column and the income column. The value to be predicted is the ufo2010 column, or\nwhether that region has substantial ufo appearances. This algorithm calculates each value's distance from \nthe mean. This algorithm is a function that takes in the population and income of a region and it outputs \nwhether that region has or does not have substantial UFO appearances.\n\n"

In [2]:
#we import the pandas library because we will be reading in datasets and creating a dataframe
import pandas as pd

#reading in the data set from my local library
#the name of the dataset is data_set
data_set = pd.read_csv('/Users/gabem/Documents/IS678 Data Analytics in Cybersecurity/book/ch05/data/county-data.csv', header=0)

In [3]:
#we print the data set so that we can see the values we are working with
#the columns should be subregion, region, pop, income, ipaddr, ufo2010
#there should be 3072 rows x 6 columns
print(data_set)

      subregion          region     pop  income   ipaddr  ufo2010
0     abbeville  south carolina   25101   34670    30330        2
1        acadia       louisiana   61912   37970    38203        6
2      accomack        virginia   33341   41595    41338        2
3           ada           idaho  409061   55304  1035427       59
4         adair            iowa    7481   47623     3762        0
...         ...             ...     ...     ...      ...      ...
3067       yuma         arizona  200022   41441    99991       53
3068       yuma        colorado   10119   44991     7662        1
3069     zapata           texas   14290   26009     3833        0
3070     zavala           texas   11961   23952      545        1
3071    ziebach    south dakota    2869   27917     1277        0

[3072 rows x 6 columns]

In [4]:
#this function will return a number of arrays that contain the data for each of the testing and training sets
from sklearn.model_selection import train_test_split

In [5]:
#In this code block, we are going to divide the data into the test set and the training set

#This function will split data into a training set and a testing set based on how we choose to split the data

#The arguments for this function will be the 3 columns we are going to use: pop, income, ufo2010

#Since we need population and income to be the basis for predicting substantial UFO apperances, we will need
#these two columns in addition to the ufo2010 column, which tells us how many appearances there are

#we want the test size to be 1/4 the size of the data_set data frame, and then we must convert it to an integer
#this is done by using int(len(data_set)/4)

#the function will return a pair of values: one belonging to train set, and one belonging to test set for 
#each column
x_train, x_test, y_train, y_test, z_train, z_test = train_test_split(data_set['pop'], data_set['income'],
                                                                    data_set['ufo2010'], 
                                                                     test_size = int(len(data_set)/4))

In [6]:
#Here we will create training sets into a single data frame
#create a dictionary using lists (pop, income, and ufo2010) and their 
#corresponding training values (x_train, y_train, z_train)
#the training dataframe will be stored in the train_df value
train_dict = {"pop": x_train, "income": y_train, "ufo2010": z_train}
train_df = pd.DataFrame(train_dict)
train_df

#the output should be a table with columns pop, income, and ufo2010
#it should have 2304 rows x 3 columns

         pop  income  ufo2010
2021    8086   29702        3
2146  470391   44103       46
809    31826   30806        1
1776    4671   41731        0
1380    7638   20375        0
...      ...     ...      ...
1751  918977   43197       71
3040   22607   47958        0
2260  165682   62394        3
2742  113281   43465       11
1656  182838   71694       37

[2304 rows x 3 columns]

In [7]:
#Here we will create the testing sets into a single data frame
#create a dictionary using lists (pop, income, and ufo2010) and their 
#corresponding testing values (x_test, y_test, z_test)
#the testing dataframe will be stored in the test_df value
test_dict = {"pop": x_test, "income": y_test, "ufo2010": z_test}
test_df = pd.DataFrame(test_dict)
test_df

#the output should be a table with columns pop, income, and ufo2010
#it should have 768 rows x 3 columns

         pop  income  ufo2010
2671    6844   53505        1
983    92614   51391       12
319   370589   55497       13
313    20307   31273        0
2290  388953   45897       31
...      ...     ...      ...
1536   57786   50075        5
2464  266776   66030       18
2915  132661   66476       13
957    85845   50731        4
1226   28045   48932        0

[768 rows x 3 columns]

In [8]:
import statistics as stats #we will need to import the statistics library in order to calculate the mean

In [9]:
#The following algorithm will calculate the mean for the population and income for regions that have
#substantial appearances and regions that do not have substantial appearances

#Substantial appearances are classified as any region that has had more than 333 UFO sightings in that
#specific region

#Here we will calculate means of population and income for regions with and without substantial UFO appearances

#Means for regions with substantial appearances
#x is a temporary initial value
#take only values from 'ufo2010' column of training table that have greater than 333 appearances (substantial)
x = train_df[train_df.ufo2010 > 333]
#calculate mean of population column for substantial appearances and store it in train_pop_Sub_mean value
train_pop_Sub_mean = stats.mean(x['pop'])
#calculate mean of income column for subs. appearances and store it in train_income_Substantial_mean value
train_income_Substantial_mean = stats.mean(x['income'])

#Means for regions with no substantial appearances
#take only values from 'ufo2010' column of training table that have less than 333 appearances (not substantial)
x = train_df[train_df.ufo2010 < 333]
#calculate mean of population column for no subs. appearances and store it in train_pop_UnSub_mean value
train_pop_UnSub_mean = stats.mean(x['pop'])
#calculate mean of income column for no subs. appearances and store it in train_income_UnSub_mean value
train_income_UnSub_mean = stats.mean(x['income'])

In [10]:
#Print mean values
print('mean of population with substantial appearances', train_pop_Sub_mean)
print('mean of income with substantial appearances', train_income_Substantial_mean)
print('mean of population with NO substantial appearances', train_pop_UnSub_mean)
print('mean of income with NO substantial appearances', train_income_UnSub_mean)

#These mean values will show us what the average is for population and incomes for regions
#with and without substantial UFO appearances

#This is simply just a point of reference

mean of population with substantial appearances 6378769.666666667
mean of income with substantial appearances 55321
mean of population with NO substantial appearances 92026.6510212951
mean of income with NO substantial appearances 44880.34854411126

In [11]:
import math #we will need the math library to carry out computational functions

#This function, predict_appearances, is a training algorithm that classifies
#each region as having substantial UFO appearances according to the 
#closest mean (substantial or not substantial)
#The function takes in two values: the population and the income for that given region
def predict_appearances(pop, income):
    #Subtract datapoints of substantial appearances from their means
    sub_a = train_pop_Sub_mean - pop
    sub_b = train_income_Substantial_mean - income
    
    #Subtract datapoints of non-substantial appearances from their means
    uns_a = train_pop_UnSub_mean - pop
    uns_b = train_income_UnSub_mean - income
    
    #in these two lines below, we will calculate the pythagorean distance
    #these values (sub_dist and uns_dist) calculate the distance between the 
    #population and income of each region to their corresponding means
    #they calculate square root of the sum of the 2 squares
    sub_dist = math.sqrt(math.pow(sub_a, 2) + math.pow(sub_b, 2))
    uns_dist = math.sqrt(math.pow(uns_a, 2) + math.pow(uns_b, 2))
    
    #assign label of the closest mean
    #this makes the output more clear
    print('This region is subject to substantial UFO appearances' if sub_dist < uns_dist 
          else 'This region is NOT subject to substantial UFO appearances')

In [12]:
#Here we will test the function by using two different rows from the testing dataframe (test_df)

#first test output should be that the region is not subjected to UFO appearances
predict_appearances(8804, 47240)

#second test output should be that the region is subject to UFO appearances
predict_appearances(9962789, 98148)

#As you can see, the algorithm passed both of these tests since it outputted the correct information

This region is NOT subject to substantial UFO appearances
This region is subject to substantial UFO appearances

In [13]:
#Now, we will test a value that is less obvious and that is closer to the mean for population and income
#To do this, we will print the top 20 rows with UFO appearances from the test dataframe (test_df)

test_df.nlargest(20, ['ufo2010']) #this prints the top 20 rows with ufo appearances

          pop  income  ufo2010
516   2000759   55961      244
1468  2007440   70567      218
2216   992394   46341      178
25    1554720   70821      169
700   2453843   48942      163
2204   811681   58824      139
2565   733036   67777      134
8      459598   56089      115
1346   677377   46874       94
2993   682518   76453       91
2434  1063842   59168       89
1865  1537215   79691       81
2907   547672   63814       78
1217  1184576   62966       76
2917   429908   55813       74
2650  1499273   87187       68
1458   856158   48021       67
2054  1220657   66456       67
1552   310487   57215       66
1758   319985   46191       64

In [14]:
#Now that we can see the top 20 rows, we will pick the value that is closest to the
#classifier of substantial appearances, which is 333 

#We can see that row number 1185 of the test dataframe has 227 ufo appearances
#we know that this should be non-substantial, so, let's test it

#test output should be that the region is not subjected
predict_appearances(4253700, 52675)

#you will notice that after running this test, the output says that this region is subject to
#substantial UFO appearances. This is incorrect, as the output should've been that this region is NOT subject
#to UFO appearances.

This region is subject to substantial UFO appearances

In [15]:
#Let's do one more test with values that defy the means

#Here we will use row number 2216 which has 178 ufo appearances
#Again, we know that this should be non-substantial

#test output should be that the region is not subjected 
predict_appearances(992394, 46341)

#you will notice that after running this test, the output is correct because it outputted that 
#the region is not subjected to substantial ufo appearances in this region

This region is NOT subject to substantial UFO appearances

In [16]:
'''
Summary:

After doing testing, it is determined that this algorithm is only accurate when values do not defy the mean.
This means that the values coincide with the means for population and income for substantial and 
non-substantial ufo appearances in a region. When I conducted the 3rd test, it gave the wrong output. This is
probably because the input population was 4,253,700 and the input income was 52,675. The output was supposed to
be that the region did not have substantial ufo appearances. The mean for population for non-substantial was 
95260.1498046027 and the mean for income for non-substantial was 45250.16066000868. The mean for population 
with substantial appearances was 5231351 and the mean for income with substantial appearances was 54598. Thus, 
by inputting the values (4253700, 52675), we are technically defying the means because we are entering a region
where the population and income were higher than the average for substantial appearances, but did not actually
have substantial appearances. This in turn tricked the algorithm. Overall, I think this algorithm is very 
accurate with values that coincide with the mean, but it would struggle with values that do not fall within
the range of the means for the substantial or non-substantial classifications. So, that is why I would say this
algorithm is only mostly accurate and not fully accurate.

I personally would not rely on this algorithm. I say that because I would want an algorithm that is better at
differentiating between the values that defy the mean. Because in reality, those are going to be harder to tell
anyways, and they are why you would want to incorporate machine learning in the first place. So, if the
algorithm struggles to detect values that are close to the means, then I do not think it is reliable. Overall,
I do not think this algorithm is reliable because it is not good at identifying values that defy the mean. 

'''

'\nSummary:\n\nAfter doing testing, it is determined that this algorithm is only accurate when values do not defy the mean.\nThis means that the values coincide with the means for population and income for substantial and \nnon-substantial ufo appearances in a region. When I conducted the 3rd test, it gave the wrong output. This is\nprobably because the input population was 4,253,700 and the input income was 52,675. The output was supposed to\nbe that the region did not have substantial ufo appearances. The mean for population for non-substantial was \n95260.1498046027 and the mean for income for non-substantial was 45250.16066000868. The mean for population \nwith substantial appearances was 5231351 and the mean for income with substantial appearances was 54598. Thus, \nby inputting the values (4253700, 52675), we are technically defying the means because we are entering a region\nwhere the population and income were higher than the average for substantial appearances, but did not actually\nhave substantial appearances. This in turn tricked the algorithm. Overall, I think this algorithm is very \naccurate with values that coincide with the mean, but it would struggle with values that do not fall within\nthe range of the means for the substantial or non-substantial classifications. So, that is why I would say this\nalgorithm is only mostly accurate and not fully accurate.\n\nI personally would not rely on this algorithm. I say that because I would want an algorithm that is better at\ndifferentiating between the values that defy the mean. Because in reality, those are going to be harder to tell\nanyways, and they are why you would want to incorporate machine learning in the first place. So, if the\nalgorithm struggles to detect values that are close to the means, then I do not think it is reliable. Overall,\nI do not think this algorithm is reliable because it is not good at identifying values that defy the mean. \n\n'